<?xml version="1.0"?>
<configuration>
  
  <appSettings>
    
    <add key="SharedPrinter" value="ZDesigner ZT230-200dpi ZPL (1)"/>
    <!--add key="SharedPrinter" value="ZDesigner S4M-203dpi ZPL"/-->
    

     <add key ="AVPS" value ="0"/>

    <add key ="CSVPATH" value ="D:\\Generated_CSV_files\\"/>
    <add key ="DBConnectionString" value ="Data Source=attendance.airport.lk;Initial Catalog=Assets;User ID=Assets_Ministry;password=Assets_Ministry"/>
    <!-- <add key ="DBConnectionString" value ="Data Source=DESKTOP-D88U7S5;Initial Catalog=Assets;Persist Security Info=True;User ID=sa;Password=sa123"/-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
